Hi [% person.title %] [% person.given_name %] [% person.family_name %], 

Follow your request, your password can be rest by going to this link: 
 [% reset_handler %]

Kind regards,

Genomics Data Capturer 
