<p>[% message %]</p>
<form method="POST" action="[% action %]">
    <label>Registered email address
    <input type="email" name="email" required="required" /></label>
    <input type="submit" value="Send" />
</form>
