[%# 
    images could be loaded in this manner: 
    <img src="[| path |]test.jpg" alt="test" />
    (replace [| and  |] with percent signs
%]

[% BLOCK navigation_bar %]
    <h3>Navigation bar</h3>
    The navigation bar <div style="display:inline-block; width:120px; background: rgba(0, 0, 0, 0.2); border-radius: .7em .7em 0 0; color: green; text-align: center;font-weight:bold;">Show links</div> locates at the bottom right corner of a page. It provides the links to the current project's metadata, samples, studies and experiments of each study.
    By default, it is hidden and can be activated by clicking "Show links". The exact content depends on the content of the project.

	<aside class="project_navigation_online_manual">
		<ul id="ulHideProjectNavigationLinks" style="height: 8px" class="hidden">
			<li style="margin: 0; text-indent: 23px; height: 20px">Hide links</li>
		</ul>
		<ul id="ulProjectNavigationLinks" class="hidden">
			<li class="left" style="margin: 0;">
				<span>Samples</span>
			</li>
			<li class="left" style="margin: 0;">
				<span>Studies</span>
			</li>
		</ul>
		<ul id="ulShowProjectNavigationLinks" style="height: 10px;">
			<li style="margin: 0; padding:0; text-indent: 23px; height: 22px;">Show links</li>
		</ul>
	</aside>
[% END %]

[% entries = [ 'index', 'experiment', 'experiment_create', 'experiment_edit', 'run_create', 'project', 'project_create', 'project_edit', 'sample', 'sample_create', 'sample_edit', 'study_create', 'study_edit','study', 'self_register', 'login', 'organisation', 'organisation_create', 'organisation_edit', 'person_edit_admin', 'admins_edit'] %]
[% found = entries.grep(helpId) %]
[% IF found.size == 0 %]
[% helpId = 'index' %]
[% END %]

[% IF helpId == "index" %]
<p>Abbreviations used in this document:
<dl>
	<dt>ANDS</dt><dd>Australian National Data Service</dd>
	<dt>ANZSRC</dt><dd>Australian and New Zealand Standard Research Classification</dd>
	<dt>FOR</dt><dd>Fields of Research</dd>
	<dt>EBI</dt><dd>European Bioinformatics Institute</dd>
	<dt>NCBI</dt><dd>National Center for Biotechnology Information</dd>
	<dt>SRA</dt><dd>Sequence Read Archive</dd>
</dl>
</p>
    <!--
        Sections:
        Title
                Item
                Item
        Title
                Item
                Item
    -->
    [%  index =  {   
                    'sections' =>
                                [
                                    { 'section' =>  'Project',
                                      'items'   =>  [ 
                                                        { 'url' => '../../command/help?id=project',        'name' => 'Project' },
                                                        { 'url' => '../../command/help?id=project_create', 'name' => 'Create project' },
                                                        { 'url' => '../../command/help?id=project_edit',   'name' => 'Edit project' },
                                                    ] },
                                    { 'section' =>  'Sample',
                                      'items'   =>  [ 
                                                        { 'url' => '../../command/help?id=sample',        'name' => 'Sample' },
                                                        { 'url' => '../../command/help?id=sample_create', 'name' => 'Create sample' },
                                                        { 'url' => '../../command/help?id=sample_edit',   'name' => 'Edit sample' },
                                                    ] },

                                    { 'section' =>  'Study',
                                      'items'   =>  [
                                                        { 'url' => '../../command/help?id=study',   'name' => 'Study' },
                                                        { 'url' => '../../command/help?id=study_create', 'name' => 'Create Study' },
                                                        { 'url' => '../../command/help?id=study_edit',   'name' => 'Edit Study' },
                                                    ] }
                                    { 'section' =>  'Experiment',
                                      'items'   =>  [ 
                                                        { 'url' => '../../command/help?id=experiment_create', 'name' => 'Create experiment' },
                                                        { 'url' => '../../command/help?id=experiment_edit',   'name' => 'Edit experiment' },
                                                        { 'url' => '../../command/help?id=experiment',        'name' => 'Experiment' },
                                                        { 'url' => '../../command/help?id=run_create',        'name' => 'Add a run' },
                                                    ] },
                                    { 'section' =>  'Login',
                                      'items'   =>  [ 
                                                        { 'url' => '../../command/help?id=login', 'name' => 'Login' },
                                                        { 'url' => '../../command/help?id=self_register', 'name' => 'Register' },
                                                    ] },
                                    { 'section' =>  'Person management',
                                      'items'   =>  [ 
                                                        { 'url' => '../../command/help?id=person_edit_admin', 'name' => 'Manage user' },
                                                        { 'url' => '../../command/help?id=admins_edit',       'name' => 'Edit admins' },
                                                    ] },
                                    { 'section' =>  'Organisation',
                                      'items'   =>  [ 
                                                        { 'url' => '../../command/help?id=organisation',        'name' => 'Organisation' },
                                                        { 'url' => '../../command/help?id=organisation_create', 'name' => 'Create organisation' },
                                                        { 'url' => '../../command/help?id=organisation_edit',   'name' => 'Edit organisation' },
                                                    ] },
                                ]
                } %]
    <h2>Contents</h2>            
    <div class="divTable">
        <div class="divHeader">
            <div class="divCell">Section</div>
            <div class="divCell">Link</div>
        </div>
        <div class="divTbody">
            [% FOREACH s IN index.sections %]
                <div class="divRow">
                    <div class="divCell">[% s.section %]</div>
                    <div class="divCell">
                        [% FOREACH item IN s.items %]
                            [% url  = item.url %]
                            [% name = item.name %]
                            [% link = '<a href="' _ path _ url _ '">' _ name _ '</a>' %]
                            <div>
                                [% link %]
                            </div>
                        [% END %]
                    </div>
                </div>
            [% END%]
        </div>
    </div>        
[% END %]

[% IF helpId == "admins_edit" %]
    <h3>Edit admins</h3>
    <p style="font-weight:bold;color:red;">NOT ACCURATE!</p> 
    <p>
        On this page you as a super admin may change the persons admin role in the system.<br />
    </p>
    <h3>Super Admins fields</h3>
    <div>
        <table class="fieldDescription">
            <tr>
                <td>
                    Person
                </td>
                <td>
                    The name of the super admin
                </td>
            </tr>
            <tr>
                <td>
                    <button>Resign</button>
                </td>
                <td>
                    The <button>Resign</button> will only be seen if you are a super admin and on your row. You can not be forced to resign and you can not resign if there is at least one more super admin in the system.
                </td>
            </tr>
        </table>
    </div>
    <h3>Add super admin</h3>
    <div>
        <table class="tblNoBorders">
            <tr>
                <td>
                    <ul>
                        <li>
                            <select required="required">
                                <option>Mr Jon Doe</option>
                                <option selected="selected">Mrs Jane Doe</option>
                                <option>Professor Jane Roe</option>
                                <option>Mrs Zachary Zoe</option>
                            </select>
                        </li>
                    </ul>
                </td>
                <td>
                    Where you choose who should get the magically super admin status
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li><button>add</button></li>
                    </ul>
                </td>
                <td>
                    Where you click if you want to add the person a super admin status. Beware that if you add the status you can not remove it, that person has to resign him self.
                </td>
            </tr>
        </table>
    </div>
    <h3>Normal Admins fields</h3>
    <div>
        <table class="fieldDescription">
            <tr>
                <td>
                    Person
                </td>
                <td>
                    The name of the admin
                </td>
            </tr>
            <tr>
                <td>
                    <button>Remove</button>
                </td>
                <td>
                    If the <button>Remove</button> button is pressed you will remove the admin rights to that person.
                </td>
            </tr>
        </table>
    </div>
    <h3>Add admin</h3>
    <div>
        <table class="tblNoBorders">
            <tr>
                <td>
                    <ul>
                        <li>
                            <select required="required">
                                <option>Mr Jon Doe</option>
                                <option selected="selected">Mrs Jane Doe</option>
                                <option>Professor Jane Roe</option>
                                <option>Professor Joe Bloggs</option>
                                <option>Mr John Q. Public</option>
                                <option>Mrs Zachary Zoe</option>
                            </select>
                        </li>
                    </ul>
                </td>
                <td>
                    Where you choose who should get the magically admin status
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li><button>add</button></li>
                    </ul>
                </td>
                <td>
                    Where you click if you want to add the person a admin status
                </td>
            </tr>
        </table>
    </div>
[% END %]

[% IF helpId == "experiment" %]
    <h3>Experiment</h3>
    <p>On this page you see the information about an experiment.</p>
    <p>Users with privilege can change metadata and runs. They can publish metadata and data to Research Data Australia (RDA) or EBI. Publishing to EBI enables publishing to RDA.</p>
    <p>Users with privilege can edit the metedata by clicking <input type="submit" value="Edit" />.
        One important field is to allow RDA to harvest metadata even before submitting sequence
        files to EBI. Remember, once it is allowed, it is not possible to reverse it. This is only necessary when
        RDA requires metadata before users want to submit sequence files to EBI.
    </p>
    <p>If RDA publishing has not been allowed, users will see:</p>
<p>To grant perimssion to Research Data Australia for harvesting before submitting to EBI, edit the experiment.<br />
Note, the check box will not be shown if there is no Manger has been appointed in the project.</p> 
	<p></p>
	<p>If it has been done, this will be displayed at the end of metadata table:</p>
	<p>Perimssion to Research Data Australia to harvest has been granted.</p>

				</td>
			</tr></p>
    <p>After sequence files have been submitted to EBI, Runs are not allowed to be changed and cannot be submitted again. But metadata for RDA is still editable which is updated at the next scheduled harvest.</p>
    <h3>Experiment fields</h3>
    <div>
        <table class="fieldDescription">
            <tr>
                <td> Name </td>
                <td> The name of the experiment. </td>
            </tr>
            <tr>
                <td>Design</td>
                <td>A description of the expermiment design.</td>
            </tr>
            <tr>
                <td>Sample</td>
                <td>The sample used for the experiment</td>
            </tr>
            <tr>
                <td>
                    Platform
                </td>
                <td>
                    The platform name and model used in the experiment.
                </td>
            </tr>
            <tr>
                <td>
                    Accession
                </td>
                <td>
                    Accession of EBI record of this object.
                </td>
            </tr>
        </table>
    </div>
    <h3>Library</h3>
    <table class="fieldDescription">
            <tr>
                <td>Source</td>
                <td>One of these: GENOMIC, TRANSCRIPTOMIC, METAGENOMIC, METATRANSCRIPTOMIC, SYNTHETIC, VIRAL RNA, OTHER</td>
            </tr>
            <tr>
                <td>
                    Layout
                </td>
                <td>
                    It is either Paired or Single read. When it is Paired, <b>Nominal Size</b> is also shown.
                </td>
            </tr>
    </table>
    <h3>Runs</h3>
    <p>It is possible an experiment has multiple runs. Each run either one or two files occupies one row.</p>
    <div>
        <table class="fieldDescription">
            <tr>
                <td>ID</td>
                <td>Internal Run ID</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>Uploaded date</td>
            </tr>
            <tr>
                <td>File name</td>
                <td>
                    The name of the runfile. If it is a paired read, there are two.
                </td>
            </tr>
            <tr>
                <td>Score offset</td>
                <td>Used when run files are in FASTQ format</td>
            </tr>
        </table>
    </div>
	<h3>Submit to EBI/SRA</h3>
	<ul>
	<li><label>Release date <input type="date" name="release_date" required="required"/></label></li>
	</ul>
	<p>Project administrators can submit sequence files of an experiment run to EBI. It will not only submit sequence files but also related Study, Sample information if they have yet been published. <em>Release date</em> is the only required information. By default, EBI allows sequences and related metadata be held in private up to maximum of two years from the date of submission. So here the default value is two years. Choosing the current date or an earlier date releases immediately to public.</p>
[% END %]

[% IF helpId == "experiment_create" %]
    <h3>Create experiment</h3>
    <p>Experiment describes the library, platform selection, and processing parameters. Each change to the library or sequencer parameters requires the creation of a new experiment. A Sample can be contained in multiple experiments but each experiment contains only one library. An experiment can have one or mulitple runs.</p>
    <p>An experiment is mapped to a Collection record when it is published to RDA.</p>
        <table class="tblNoBorders">
            <tr>
                <td>
                    <ul>
                        <li>Name*</li>
                        <li>
                            <input type="text" value="" required="required">
                        </li>
                    </ul>
                </td>
                <td>
                    A formal title used to describe the Experiment. It is publicly viewable in a repository once published and released. Maximum 64 characters. Required by EBI.
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Design*</li>
                        <li>
                            <textarea required="required"></textarea>
                        </li>
                    </ul>
                </td>
                <td>
                    Describes the setup and goals of this Experiment.
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Sample*</li>
                        <li>
                            <select required="required">
                                <option></option>
                                <option>some sample</option>
                            </select>
                        </li>
                    </ul>
                </td>
                <td>
                    Choose a sample you used in the experiment. Samples have to be in the current project or is accessible to the current project from sharing.
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            <li>Platform*</li>
                            <li>
                                <select name="platform_id" required="required">
                                    <option></option>
                                    <option>454 Life Sciences - 454</option>
                                    <option>illumina HiSeq 2000 - HiSeq 2000</option>
                                    <option>illumina MySeq - MySeq</option>
                                    <option>Ion Torrent - Ion Torrent</option>
                                    <option>SOLiD - SOLiD</option>
                                </select>
                            </li>
                        </li>
                    </ul>
                </td>
                <td>
                    Choose one of recognised sequencing platform used in the experiment.
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Library Layout*</li>
                        <li>
                            <select onchange="this.value == 'paired' ? document.getElementById('liNominalSize' ).setAttribute('class',''): document.getElementById('liNominalSize' ).setAttribute('class','hidden');
                                              this.value == 'paired' ? document.getElementById('liNominalSize2').setAttribute('class',''): document.getElementById('liNominalSize2').setAttribute('class','hidden');
                                              this.value == 'paired' ? document.getElementById('nominal_size'  ).required = true         : document.getElementById('nominal_size'  ).required = false;"
                                              required="required">
                                <option value=""></option>
                                <option value="single">Single</option>
                                <option value="paired">Paired</option>
                            </select>
                        </li>
                        <li id="liNominalSize" class="hidden">
                            Nominal Size*
                        </li>
                        <li id="liNominalSize2" class="hidden">
                            <input type="text" id="nominal_size" name="nominal_size">
                        </li>
                    </ul>
                </td>
                <td>
                    Here you select the library layout. It can either be Single or Paired. If it was a paired read you have to write the nominal size. 
                </td>
            </tr>

            <tr>
                <td>
                    <ul>
                        <li><input type="submit" value="Save" /></li>
                    </ul>
                </td>
                <td>
                    Save the information.
                </td>
            </tr>
        </table>
[% END %]

[% IF helpId == "experiment_edit" %]
    <h3>Edit experiment</h3>
    <div>
	<dl><dt><label>Allow RDA to harvest<input name="in_rda" disabled="disabled" checked="checked" type="checkbox"></label></dt>
	<dd>Allow metadata of an experiment and associated objects be harvested before submitting sequence files to EBI. One required associated object for this purpose is Manager. A Manager has to be assigned before this can be set to satisfy RDA requirement. Such permission can only be granted before the submission to EBI. <b>This is only necessary when users want to publish metadata to RDA before the submission of sequence files to EBI.</b></dd>
	More information, see <a href="../../command/help?id=experiment_create">Create an Experiment</a>
    </div>
[% END %]

[% IF helpId == "run_create" %]
<p>A run is atthached to an experiment and includes one or two FASTQ files. An experiment may have multiple runs.</p>
<p>Only the files were uploaded through processes in <em>'run upload'</em>category can be listed here and added to a <em>run</em>. Run files should be in <em>FASTQ</em> format, so please ensure quality scores are in Phred scale and ASCII encoded. If not, conversion is needed. Score offset can either be 33 ('!') or 64 ('@'). </p>
[% END %]

[% IF helpId == "login" %]
    <h3>Login</h3>
    <div>
        On this page you login to your existing account.<br />
        If you do not yet have applied for one you do so by clicking the link register for a new account link.<br />
        If you happen to have forgotten you password you can in similar fashion click the forgot your password link.<br />
    </div>
    <br />
    <div>
        <table class="tblNoBorders">
            <tr>
                <td>
                    <ul>
                        <li>Username</li>
                        <li><input size="15"></li>
                    </ul>
                </td>
                <td>
                    In this field you insert your username, not your email.
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Password</li>
                        <li><input type="password" name="password" size="15"></li>
                    </ul>
                </td>
                <td>
                    In this field you insert your password.
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li><button>Login</button></li>
                    </ul>
                </td>
                <td>
                    After you have inserted your username and password you should click this button to proceed with the login.
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">register for a new account</a>
                </td>
                <td>
                    Click this link if you want to get to register for a new account (you need an account to get access to the service). The link to the left is just a example link that will not send you to the register for a new account page.
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">forgot your password?</a>
                </td>
                <td>
                    Click this link if you have an account and forgot the password. You will then on that page get more instructions what to do to create a new password. The link to the left is just a example link that will not send you to the forgot your password page.
                </td>
            </tr>
        </table>
    </div>
[% END %]

[% IF helpId == "organisation" %]
    <h3>Organisation</h3>
    <div>
        On this page you see information about a organisation.<br />
        The <button>Edit</button> button if clicked will send you to the edit page of the organisation, you must have right privilages to be able to edit a organisation.
    </div>
    <div>
        <table class="fieldDescription">
            <tr>
                <td>
                    Name
                </td>
                <td>
                    The name of the organisation
                </td>
            </tr>
            <tr>
                <td>
                    ABN
                </td>
                <td>
                    The <strong>A</strong>ustralian <strong>B</strong>usiness <strong>N</strong>umber of the organisation
                </td>
            </tr>
            <tr>
                <td>
                    Street
                </td>
                <td>
                    The street address to the organisation has
                </td>
            </tr>
            <tr>
                <td>
                    Suburb
                </td>
                <td>
                    The suburb organisation exist in
                </td>
            </tr>
            <tr>
                <td>
                    State
                </td>
                <td>
                    Which state the organisation exist in
                </td>
            </tr>
            <tr>
                <td>
                    Postcode
                </td>
                <td>
                    The organisations postcode
                </td>
            </tr>
            <tr>
                <td>
                    Country
                </td>
                <td>
                    The country the organisation exist in
                </td>
            </tr>
            <tr>
                <td>
                    Phone
                </td>
                <td>
                    The phone number the organisation has associated to it self (with national and region prefix)
                </td>
            </tr>
            <tr>
                <td>
                    Fax
                </td>
                <td>
                    The fax number to the organisation (Fax (short for facsimile), sometimes called telecopying, is the telephonic transmission of scanned printed material (both text and images), normally to a telephone number connected to a printer or other output device.)
                </td>
            </tr>
            <tr>
                <td>
                    Webpage
                </td>
                <td>
                    The organisations webpage
                </td>
            </tr>
            <tr>
                <td>
                    <button>edit</button>
                </td>
                <td>
                    The <button>edit</button> button will send you to the edit page of the organisation when clicked
                </td>
            </tr>

        </table>
    </div>
[% END %]

[% IF helpId == "organisation_create" %]
    <h3>Organisation create</h3>
    <div>
        On this page you create a new organisation
    </div>
    <div>
        <table class="tblNoBorders">
            <tr>
                <td>
                    <ul>
                        <li>Name*</li>
                        <li><input type="text" required="required"></li>
                    </ul>
                </td>
                <td>
                    In this field you insert the name of the organisation you want to create
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Abbreviation*</li>
                        <li><input type="text" required="required"></li>
                    </ul>
                </td>
                <td>
                    In this field you insert the abbreviation of the organisation you want to create
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>ABN*</li>
                        <li><input type="text" required="required"></li>
                    </ul>
                </td>
                <td>
                    In this field you insert the <strong>A</strong>ustralian <strong>B</strong>usiness <strong>N</strong>umber of the organisation you want to create
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Street*</li>
                        <li><input type="text" required="required"></li>
                    </ul>
                </td>
                <td>
                    In this field you insert the street part of the address the organisation has you want to create
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Suburb*</li>
                        <li><input type="text" required="required"></li>
                    </ul>
                </td>
                <td>
                    In this field you insert the suburb of the organisation you want to create
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>State*</li>
                        <li><input type="text" required="required"></li>
                    </ul>
                </td>
                <td>
                    In this field you insert the state of the organisation you want to create
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Postcode*</li>
                        <li><input type="text" required="required"></li>
                    </ul>
                </td>
                <td>
                    In this field you insert the postcode of the organisation you want to create
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Country*</li>
                        <li><input type="text" required="required"></li>
                    </ul>
                </td>
                <td>
                    In this field you insert the country of the organisation you want to create
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Phone*</li>
                        <li><input type="text" required="required"></li>
                    </ul>
                </td>
                <td>
                    In this field you insert the phone number of the organisation you want to create
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Fax*</li>
                        <li><input type="text" required="required"></li>
                    </ul>
                </td>
                <td>
                    In this field you insert the fax number of the organisation you want to create
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Webpage*</li>
                        <li><input type="url" required="required"></li>
                    </ul>
                </td>
                <td>
                    In this field you insert the webpage of the organisation you want to create
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            <button>add</button>
                        </li>
                    </ul>
                </td>
                <td>
                    Will add the organisation to the system when the <button>add</button> button is clicked
                </td>
            </tr>
        </table>
    </div>
[% END %]

[% IF helpId == "organisation_edit" %]
    <h3>Organisation edit</h3>
    <div>
        On this page you edit the organisation
    </div>
    <div>
        <table class="tblNoBorders">
            <tr>
                <td>
                    <ul>
                        <li>Name*</li>
                        <li><input type="text" required="required"></li>
                    </ul>
                </td>
                <td>
                    In this field you edit your organisation's name
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Abbreviation*</li>
                        <li><input type="text" required="required"></li>
                    </ul>
                </td>
                <td>
                    In this field you edit your organisation's abbreviation
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>ABN*</li>
                        <li><input type="text" required="required"></li>
                    </ul>
                </td>
                <td>
                    In this field you edit your organisation's ABN (<strong>A</strong>ustralian <strong>B</strong>usiness <strong>N</strong>umber)
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Street*</li>
                        <li><input type="text" required="required"></li>
                    </ul>
                </td>
                <td>
                    In this field you edit your organisation's street
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Suburb*</li>
                        <li><input type="text" required="required"></li>
                    </ul>
                </td>
                <td>
                    In this field you edit your organisation's suburb
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>State*</li>
                        <li><input type="text" required="required"></li>
                    </ul>
                </td>
                <td>
                    In this field you edit your organisation's state
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Postcode*</li>
                        <li><input type="text" required="required"></li>
                    </ul>
                </td>
                <td>
                    In this field you edit your organisation's postcode
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Country*</li>
                        <li><input type="text" required="required"></li>
                    </ul>
                </td>
                <td>
                    In this field you edit your organisation's country
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Phone*</li>
                        <li><input type="text" required="required"></li>
                    </ul>
                </td>
                <td>
                    In this field you edit your organisation's phone number
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Fax*</li>
                        <li><input type="text" required="required"></li>
                    </ul>
                </td>
                <td>
                    In this field you edit your organisation's fax number
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Webpage*</li>
                        <li><input type="text" required="required"></li>
                    </ul>
                </td>
                <td>
                    In this field you edit your organisation's webpage
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            <button>save</button>
                        </li>
                    </ul>
                </td>
                <td>
                    Will update the changes you have done to the organisation's fields
                </td>
            </tr>
        </table>
    </div>
[% END %]

[% IF helpId == "person_edit_admin" %]
    <h3>Manage a user's access to the system or projects</h3>
	<dl>
		<dt>Change the user information</dt>
		<dd>As in normal situation a user themselves does.</dd>
		<dt>Accept the user</dt>
		<dd>A user with validated email address can be <em>Approved</em> and made the account <em>Active</em> by ticking the boxes.</dd>
		<dt>Ban the user</dt>
		<dd>By un-checking Active box, the user is banned from accessing the system.</dd>
		<dt>Affiliations</dt>
		<dd>Change the affiliations of the user.</dd>
		<dt>Project Roles</dt>
		<dd>Assign or remove a project role to the user.</dd>
	</dl>
[% END %]

[% IF helpId == "project" %]
    <h3>Project</h3>
    <p>Summary of a project. Users with writing privilege will be able to make changes to items listed here.</p>

	<p><dfn>Hash</dfn> is used to identify a file. Currently SHA1 is used.</p>

	[% PROCESS navigation_bar %]
[% END %]

[% IF helpId == "project_create" %]
    <h3>Create a project</h3>
    <p>Project is the fundamental container for managing research resources like samples or files. It can be used simply for managing files using the tracking function provided by the system.</p>
    <p>Projects are private. Resources of a project by default is only accessible to its <dfn>members</dfn>. System users who have a role in a project is a member of that project. When a user creates a project, the user automatically become a member with role of Administrator once the project is created. A user can join an existing project after an Administrator assigns them a role.</p>
<p>
For publishing purposes, projects have Studies which will eventually be published using some models. For convenience, one may group resources by research grants, laboratories or a student research project because of the access restrictions. By doing so, there is a central location for every thing. When there are too many files, it may be the time to create a new project.</p>
    <table class="tblNoBorders">
            <tr><td>Project</td><td></td>       <td></td>           <td></td><td>A project can have several studies which can turn into papers</td></tr>
            <tr><td></td>       <td>Sample</td>       <td></td>     <td></td> <td>A biological sample</td></tr>
            <tr><td></td>       <td>Study</td>  <td></td>           <td></td> <td>The container of a research activity which has a set of closely linked experiments.</td></tr>
            <tr><td></td>       <td></td>       <td>Experiment</td> <td></td> <td>A sequencing experiment of a biological sample. It can have multiple runs.</td></tr>
        </table>
    </p>
        <table class="tblNoBorders">
            <tr>
                <td>
                    <ul>
                        <li>Name*</li>
                        <li>
                            <input type="text" value="" required="required">
                        </li>
                    </ul>
                </td>
                <td>
                    A name can help you identify what it is for. For example, lab name, grant name.
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Alias*</li>
                        <li>
                            <input type="text" value="" required="required">
                        </li>
                    </ul>
                </td>
                <td>
                    A string used when files are uploaded. It is better to be short and meaning but it has to be system-wise unique.
                </td>
            </tr>
		<tr>
			<td>
				<ul>
					<li>Name of exporting point (used when repository is not readable directly by users)</li>
				<li>
				  <select name="expoint" name="expoint">
							  <option value="default" > default </option>
							  <option value="of_group_name1" > women's and children </option>
						  </select>
				</li>
				</ul>
			</td>
			<td>This only appears when the system does not allow users read directly the uploaded files. In such situation, files have to be exported to a chosen location.<br>
			<em>default</em> means using the uploading area. Otherwise, it is an agreed network location.
			</td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Description*</li>
                        <li>
                            <textarea required="required"></textarea>
                        </li>
                    </ul>
                </td>
                <td>
                    A paragraph describes what the project for. It helps when someone join in or it is viewed in the future. 
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            <li>Start Date*</li>
                            <li><input type="date" required="required"></li>
                        </li>
                    </ul>
                </td>
                <td>
                    Starting date.
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            <li>End Date*</li>
                            <li><input type="date"></li>
                        </li>
                    </ul>
                </td>
                <td>
                    Completed date (may be left empty). Do not choose a date earlier than the starting date.
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>ANZSRC</li>
                        <li class="liSearchAnzsrc">Search <button type="button" id="btnShowChoosenAnzsrc">hide search</button></li>
                        <li class="liSearchAnzsrc">
                            <div class="ui-widget">
                                <input type="hidden" id="anzsrc_url" value="[% path %]/get_anzsrc/">
                                <input type="text" name="anzsrc" id="anzsrc" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                            </div>
                        </li>
                        <li class="liChoosenAnzsrc">Please select* <button type="button" id="btnShowSearchAnzsrc">or search</button></li>
                        <li>
                            <select name="anzsrc_for_code" id="anzsrc_for_code" required="required">
                                <option value="" selected="selected"></option>
                                <option value="210101">Aboriginal and Torres Strait Islander Archaeology (210101)</option>
                                <option value="200201">Aboriginal and Torres Strait Islander Cultural Studies (200201)</option>
                                <option value="130301">Aboriginal and Torres Strait Islander Education (130301)</option>
                                <option value="050201">Aboriginal and Torres Strait Islander Environmental Knowledge (050201)</option>
                                <option value="111701">Aboriginal and Torres Strait Islander Health (111701)</option>
                                <option value="210301">Aboriginal and Torres Strait Islander History (210301)</option>
                                <option value="080701">Aboriginal and Torres Strait Islander Knowledge Management (080701)</option>
                                <option value="200319">Aboriginal and Torres Strait Islander Languages (200319)</option>
                                <option value="180101">Aboriginal and Torres Strait Islander Law (180101)</option>
                            </select>
                        </li>
                    </ul>
                </td>
                <td><dfn><abbr title="Australian and New Zealand Standard Research Classification">ANZSRC</abbr></dfn> <dfn><abbr title="Field of Research">FOR</abbr></dfn> code.
                    You can either select one from the list or use the <button type="button">or search</button> button to start a search for a classification code that best suits the project.<br />
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            <li>Memo</li>
                            <li><textarea name="memo"></textarea></li>
                        </li>
                    </ul>
                </td>
                <td>
                    If you have any thing to remind yourself and team member about the project, this is the field for it. Can be empty.
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            <input type="submit" value="Save" />
                        </li>
                    </ul>
                </td>
                <td>
                    Save the project you just created.
                </td>
            </tr>
        </table>
[% END %]

[% IF helpId == "project_edit" %]
    <h3>Edit project</h3>
    <div>
        On this page you edit the project.<br />
    </div>
    <div>
        All fields that is not correctly filled in and is required have a red border around the input field.<br />
        <table class="tblNoBorders">
            <tr>
                <td>
                    <ul>
                        <li>Name*</li>
                        <li>
                            <input type="text" value="" required="required">
                        </li>
                    </ul>
                </td>
                <td>
                    The project name.
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Description*</li>
                        <li>
                            <textarea required="required"></textarea>
                        </li>
                    </ul>
                </td>
                <td>
                    Your project description.
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            <li>Start Date*</li>
                            <li><input type="date" required="required"></li>
                        </li>
                    </ul>
                </td>
                <td>
                    The start date of the project.
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            <li>End Date*</li>
                            <li><input type="date"></li>
                        </li>
                    </ul>
                </td>
                <td>
                    The end date of the project (may be left empty).
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>ANZSRC</li>
                        <li class="liSearchAnzsrc">Search <button type="button" id="btnShowChoosenAnzsrc">hide search</button></li>
                        <li class="liSearchAnzsrc">
                            <div class="ui-widget">
                                <input type="hidden" id="anzsrc_url" value="[% path %]/get_anzsrc/">
                                <input type="text" name="anzsrc" id="anzsrc" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                            </div>
                        </li>
                        <li class="liChoosenAnzsrc">Please select* <button type="button" id="btnShowSearchAnzsrc">or search</button></li>
                        <li>
                            <select name="anzsrc_for_code" id="anzsrc_for_code" required="required">
                                <option value="" selected="selected"></option>
                                <option value="210101">Aboriginal and Torres Strait Islander Archaeology (210101)</option>
                                <option value="200201">Aboriginal and Torres Strait Islander Cultural Studies (200201)</option>
                                <option value="130301">Aboriginal and Torres Strait Islander Education (130301)</option>
                                <option value="050201">Aboriginal and Torres Strait Islander Environmental Knowledge (050201)</option>
                                <option value="111701">Aboriginal and Torres Strait Islander Health (111701)</option>
                                <option value="210301">Aboriginal and Torres Strait Islander History (210301)</option>
                                <option value="080601">Aboriginal and Torres Strait Islander Information and Knowledge Systems (080601)</option>
                                <option value="080701">Aboriginal and Torres Strait Islander Knowledge Management (080701)</option>
                                <option value="200319">Aboriginal and Torres Strait Islander Languages (200319)</option>
                                <option value="180101">Aboriginal and Torres Strait Islander Law (180101)</option>
                            </select>
                        </li>
                    </ul>
                </td>
                <td>
                    ANZSRC stands for The <strong>A</strong>ustralian and <strong>N</strong>ew <strong>Z</strong>ealand <strong>S</strong>tandard <strong>R</strong>esearch <strong>C</strong>lassification and 
                    is something that is mandatory to be filled in because <a href="http://www.ands.org.au/">ANDS</a>(<strong>A</strong>ustralian <strong>N</strong>ational <strong>D</strong>ata <strong>S</strong>ervice) demands it.<br />
                    You can either select one from the dropdown (in this example only first 10 is shown) or use the <button type="button">or search</button> button for searching a classification that best describes the area you do your most work in.<br />
                    If you press the <button type="button">or search</button> a input is shown where you can search for a classification or its id (number).<br />
                    After you selected your classification that choice will be selected in the dropdown (not in the example though, if you have not selected one in the first 10 existing in the dropdown).
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Status*</li>
                        <li>
                            <select required="required">
                                <option></option>
                                <option>Assessing</option>
                                <option>Finished</option>
                                <option>Publishable</option>
                                <option>Published</option>
                                <option>Unfinished</option>
                            </select>
                        </li>
                    </ul>
                </td>
                <td>
                    Here you change the project status. If it is set as published information about the project will be searchable by the system.<br />
                    You are not supposed to be able to change the status from published back to some other state, so be careful that you are sure that it is published before you set it as published.<br />
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            <li>Memo</li>
                            <li><textarea name="memo"></textarea></li>
                        </li>
                    </ul>
                </td>
                <td>
                    If you have any thing to remind yourself and team member about the project, this is the field for it. Can be empty.
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            <button type="button">save changes</button>
                        </li>
                    </ul>
                </td>
                <td>
                    After you press the button of <button>save changes</button> button the project information will be updated.
                </td>
            </tr>
        </table>
    </div>
    
    <h3>Members</h3>
    <p>Each member has a role. The creator of a project has the role of Administrator.</p>
	<p>Possible roles:</p>
	<dl>
		<dt>Manager</dt><dd>A contact person for RDA records. Preferable to be a user having a Party/Person record in RDA already.</dd>
		<dt>Administrator</dt><dd>The owner of a project.</dd>
		<dt>Bioinformatician</dt><dd>Except cannot managing members has all other privilege of an Administrator.</dd>
		<dt>Operator</dt><dd>Allow to upload sequence files to a project.</dd>
		<dt>Observer</dt><dd>Read access only.</dd>
	</dl>

    <h3>Study/studies</h3>
    <div>
        <table class="fieldDescription">
            <tr>
                <td>
                    <button>goto</button>
                </td>
                <td>
                    When clicked will send you to that study.
                </td>
            </tr>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    The name of the study.
                </td>
            </tr>
            <tr>
                <td>
                    Internal name
                </td>
                <td>
                    Internal name is the same as a nickname. It will be sent to ANDS if filled in but it will not be a name that will be published.
                </td>
            </tr>
            <tr>
                <td>
                    Description
                </td>
                <td>
                    Description of the sample.
                </td>
            </tr>
        </table>
    </div>
    <h4>Add new study</h4>
    <div>
        <table class="fieldDescription">
            <tr>
                <td>
                    <button>Add study</button>
                </td>
                <td>
                    When clicked will send you to a page where you add a new study to the project.
                </td>
            </tr>
        </table>
    </div>
    <h3>Sample/samples</h3>
    <div>
        <table class="fieldDescription">
            <tr>
                <td>
                    <button>goto</button>
                </td>
                <td>
                    When clicked will send you to that sample.
                </td>
            </tr>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    The name of the sample.
                </td>
            </tr>
            <tr>
                <td>
                    Internal name
                </td>
                <td>
                    Internal name is the same as a nickname. It will be sent to ANDS if filled in but it will not be a name that will be published.
                </td>
            </tr>
            <tr>
                <td>
                    Tax id
                </td>
                <td>
                    The NCBI taxnomy id of the sample.
                </td>
            </tr>
        </table>
    </div>
    <h4>Add new sample</h4>
    <div>
        <table class="fieldDescription">
            <tr>
                <td>
                    <button>Add sample</button>
                </td>
                <td>
                    When clicked will send you to a page where you add a new sample to the project.
                </td>
            </tr>
        </table>
    </div>

	[% PROCESS navigation_bar %]	
[% END %]

[% IF helpId == "sample" %]
    <h3>Sample</h3>
    <div>
        On this page you see choosen sample.<br />
        The <button>Edit</button> button if clicked will send you to the edit page of the sample.
    </div>
    <div>
        <table class="fieldDescription">
            <tr>
                <td>
                    Name
                </td>
                <td>
                    The name of the sample
                </td>
            </tr>
            <tr>
                <td>
                    Internal name
                </td>
                <td>
                    The nickname of the sample used in the lab
                </td>
            </tr>
            <tr>
                <td>
                    Tax id
                </td>
                <td>
                    The NCBI tax id of the sample
                </td>
            </tr>
            <tr>
                <td>
                    Accessible
                </td>
                <td>
                    When checked makes the sample accessible for all persons using the system.
                </td>
            </tr>
        </table>
    </div>
    
	[% PROCESS navigation_bar %]
[% END %]

[% IF helpId == "sample_create" %]
    <h3>Create sample</h3>
	<table class="tblNoBorders">
		<tr>
			<td>
				<ul>
					<li>Name*</li>
					<li><input type="text" required="required"></li>
				</ul>
			</td>
			<td>
				A formal title used to describe the sample. It has to be unique within a Project.
			</td>
		</tr>
		<tr>
			<td>
				<ul>
					<li>Internal name*</li>
					<li><input type="text" required="required"></li>
				</ul>
			</td>
			<td>
				Name used only internally. It can be the name used in lab book or any thing useful.
			</td>
		</tr>
		<tr>
			<td>
				<ul>
					<li>Taxonomy ID*</li>
					<li>
						<input type="number" name="tax_id" id="tax_id" value="" readonly="readonly" required="required">
						<button type="button">Show more</button>
					</li>
					<li id="liTax" class="hidden"></li>
					<li>Search by name or taxonomy ID part</li>
					<li>
						<input type="text" name="tax_id_search" id="tax_id_search" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
					</li>
				</ul>
			</td>
			<td>
				ID number from the NCBI Taxonomy database of the sample.<br> 
				To insert an ID typing in either part of ID or name in the search field. <button>Show more</button> can be used to verify an ID after searching and selecting.
			</td>
		</tr>
		<tr>
			<td>
				<ul>
					<li>Accessible*</li>
					<li><input type="checkbox"></li>
				</ul>
			</td>
			<td>
				Share the sample. It allows the sample visible to other projects.
			</td>
		</tr>
	</table>
[% END %]

[% IF helpId == "sample_edit" %]
    <h3>Sample edit</h3>
    <div>
        On this page you edit the sample
    </div>
    <div>
        <table class="tblNoBorders">
            <tr>
                <td>
                    <ul>
                        <li>Name*</li>
                        <li><input type="text" required="required"></li>
                    </ul>
                </td>
                <td>
                    In this field you edit your sample name
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Internal name*</li>
                        <li><input type="text" required="required"></li>
                    </ul>
                </td>
                <td>
                    In this field you edit your samples internal name
                </td>
            </tr>
             <tr>
                <td>
                    <ul>
                        <li>Tax id*</li>
                        <li><input type="text" required="required"></li>
                    </ul>
                </td>
                <td>
                    In this field you edit your samples tax id (NCBI tax id)
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Accessible*</li>
                        <li><input type="checkbox"></li>
                    </ul>
                </td>
                <td>
                    In this field you edit your samples accessible status
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            <button>save</button>
                        </li>
                    </ul>
                </td>
                <td>
                    When <button>save</button> button is clicked the changes you have done to the sample fields will be saved
                </td>
            </tr>
        </table>
    </div>
	
	[% PROCESS navigation_bar %]
[% END %]

[% IF helpId == "self_register" %]
    <h3>Self registration</h3>
    <div>
        On this page you apply for an account.<br />
        The registration process is made in three steps.<br />
        <br />
        <ol>
            <li>Fill in the form</li>
            <li>Confirm email address by going to the link sent to your email</li>
            <li>A admin authorize you as a user</li>
        </ol>
        <br />
        This process is to confirm that you have correctly have inserted a email link that you yourself own.
    </div>
    <div>
        All fields that is not correctly filled in and is required have a red border around the input field.<br />
        All fields should be self explanatory, with a few exceptions.<br />

        <table class="tblNoBorders">
            <tr>
                <td>
                    <ul>
                        <li>Username*</li>
                        <li><input type="text" value="" required="required"></li>
                    </ul>
                </td>
                <td>
                    You do have to create a username, and it has to be unique (not in use in the system before). It is what you login with.
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>ANZSRC</li>
                        <li class="liSearchAnzsrc">Search <button type="button" id="btnShowChoosenAnzsrc">hide search</button></li>
                        <li class="liSearchAnzsrc">
                            <div class="ui-widget">
                                <input type="hidden" id="anzsrc_url" value="[% path %]/get_anzsrc/">
                                <input type="text" name="anzsrc" id="anzsrc" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                            </div>
                        </li>
                        <li class="liChoosenAnzsrc">Please select* <button type="button" id="btnShowSearchAnzsrc">or search</button></li>
                        <li>
                        <select name="anzsrc_for_code" id="anzsrc_for_code" required="required">
                            <option value="" selected="selected"></option>
                            <option value="210101">Aboriginal and Torres Strait Islander Archaeology (210101)</option>
                            <option value="200201">Aboriginal and Torres Strait Islander Cultural Studies (200201)</option>
                            <option value="130301">Aboriginal and Torres Strait Islander Education (130301)</option>
                            <option value="050201">Aboriginal and Torres Strait Islander Environmental Knowledge (050201)</option>
                            <option value="111701">Aboriginal and Torres Strait Islander Health (111701)</option>
                            <option value="210301">Aboriginal and Torres Strait Islander History (210301)</option>
                            <option value="080601">Aboriginal and Torres Strait Islander Information and Knowledge Systems (080601)</option>
                            <option value="080701">Aboriginal and Torres Strait Islander Knowledge Management (080701)</option>
                            <option value="200319">Aboriginal and Torres Strait Islander Languages (200319)</option>
                            <option value="180101">Aboriginal and Torres Strait Islander Law (180101)</option>
                        </select>
                    </ul>
                </td>
                <td>
                    ANZSRC stands for The <strong>A</strong>ustralian and <strong>N</strong>ew <strong>Z</strong>ealand <strong>S</strong>tandard <strong>R</strong>esearch <strong>C</strong>lassification and 
                    is something that is mandatory to be filled in because <a href="http://www.ands.org.au/">ANDS</a>(<strong>A</strong>ustralian <strong>N</strong>ational <strong>D</strong>ata <strong>S</strong>ervice) demands it.<br />
                    You can either select one from the dropdown (in this example only first 10 is shown) or use the <button type="button">or search</button> button for searching a classification that best describes the area you do your most work in.<br />
                    If you press the <button type="button">or search</button> a input is shown where you can search for a classification or its id (number).<br />
                    After you selected your classification that choice will be selected in the dropdown (not in the example though, if you have not selected one in the first 10 existing in the dropdown).

                </td>
            </tr>
        </table>
    </div>
[% END %]

[% IF helpId == "study_create" %]
    <h3>Create study</h3>
    <p>Study is the highest level object in EBI SRA model. All associated samples, experiments and runs are parts of a study. It is the Activty in <dfn><abbr title="Research Data Australia">RDA</abbr></dfn> model. It is linked to Party and Collection records.</p>
	<table class="tblNoBorders">
		<tr>
			<td>
				<ul>
					<li>Name*</li>
					<li><input type="text" required="required"></li>
				</ul>
			</td>
			<td>
				A meaningful name for the study. It can be the title will be used for a paper. Maximal number of characters is 256.
			</td>
		</tr>
		<tr>
			<td>
				<ul>
					<li>Internal name*</li>
					<li><input type="text" required="required"></li>
				</ul>
			</td>
			<td>
				Internal name is used to link to an internal identifer for your own convenience. For example, it can be a grant number. It will not be used publically.
			</td>
		</tr>
		<tr>
			<td>
				<ul>
					<li>Type*</li>
					<li>
						<select name="study_type_id" required="required">
							<option></option>
							<option>Cancer Genomics</option>
							<option>Epigenetics</option>
							<option>Exome Sequencing</option>
							<option>Forensic or Paleo-genomics</option>
							<option>Gene Regulation Study</option>
							<option>Metagenomics</option>
							<option>Other</option>
							<option>Pooled Clone Sequencing</option>
							<option>Population Genomics</option>
							<option>Resequencing</option>
							<option>RNASeq</option>
							<option>Synthetic Genomics</option>
							<option>Transcriptome Analysis</option>
							<option>Whole Genome Sequencing</option>
						</select>
					</li>
				</ul>
			</td>
			<td>
				The study types are defined by EBI/NCBI. More information can be found on their Web sites.
			</td>
		</tr>
		<tr>
			<td>
				<ul>
					<li>Abstract*</li>
					<li><textarea required="required"></textarea></li>
				</ul>
			</td>
			<td>
				Can be the same as the abstract of the paper.
			</td>
		</tr>
		<tr>
			<td>
				<ul>
					<li>Description*</li>
					<li><textarea required="required"></textarea></li>
				</ul>
			</td>
			<td>
				The description of the study in some detail.
			</td>
		</tr>
		<tr>
			<td>
				<ul>
					<li>
						<input type="submit" value="Save" />
					</li>
				</ul>
			</td>
			<td>
				Save this Study.
			</td>
		</tr>
	</table>
[% END %]

[% IF helpId == "study_edit" %]
    <h3>Study edit</h3>
    <div>
        On this page you edit the study and you also add an experiment.<br />
    </div>
    <h3>Edit study fields</h3>
    <div>
        <table class="tblNoBorders">
            <tr>
                <td>
                    <ul>
                        <li>Name*</li>
                        <li><input type="text" required="required"></li>
                    </ul>
                </td>
                <td>
                    The name of the study.
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Internal name*</li>
                        <li><input type="text" required="required"></li>
                    </ul>
                </td>
                <td>
                    Internal Name is the same as a nickname. It will be sent to ANDS if filled in but it will not be a name that will be published.
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Type*</li>
                        <li>
                            <select name="study_type_id" required="required">
                                <option></option>
                                <option>Cancer Genomics</option>
                                <option>Epigenetics</option>
                                <option>Exome Sequencing</option>
                                <option>Forensic or Paleo-genomics</option>
                                <option>Gene Regulation Study</option>
                                <option>Metagenomics</option>
                                <option>Other</option>
                                <option>Pooled Clone Sequencing</option>
                                <option>Population Genomics</option>
                                <option>Resequencing</option>
                                <option>RNASeq</option>
                                <option>Synthetic Genomics</option>
                                <option>Transcriptome Analysis</option>
                                <option>Whole Genome Sequencing</option>
                            </select>
                        </li>
                    </ul>
                </td>
                <td>
                    The study type is sent to NCBI.
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Abstract*</li>
                        <li><textarea required="required"></textarea></li>
                    </ul>
                </td>
                <td>
                    The abstract will be shared to other users and will searchable and sent to NCBI. The abstract is a brief summary of a research article, and is often used to help the reader quickly ascertain the paper's purpose. When used, an abstract always appears at the beginning of a manuscript or typescript, acting as the point-of-entry for any given academic paper or patent application. Abstracting and indexing services for various academic disciplines are aimed at compiling a body of literature for that particular subject.
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Description*</li>
                        <li><textarea required="required"></textarea></li>
                    </ul>
                </td>
                <td>
                    The description of the study.
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Status*</li>
                        <li>
                            <select name="phase_status_id" required="required">
                                <option></option>
                                <option>Assessing</option>
                                <option>Finished</option>
                                <option>Publishable</option>
                                <option>Published</option>
                                <option>Unfinished</option>
                            </select>
                        </li>
                    </ul>
                </td>
                <td>
                    The status of the study. After it has been published it will be accessible from other users in the system.
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            <button>save</button>
                        </li>
                    </ul>
                </td>
                <td>
                    Will update the possible changes you have done to the study fields.
                </td>
            </tr>
        </table>
    </div>
    <h3>Experiment fields</h3>
    <div>
        Under the head line <strong>Experiment</strong> you will find the experiments associated to the study.<br />
        <br />
        <table class="fieldDescription">
            <tr>
                <td>
                    <button>edit</button>
                </td>
                <td>
                    The button will send you to the edit experiment page if clicked.
                </td>
            </tr>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    The name of the experiment.
                </td>
            </tr>
            <tr>
                <td>
                    Internal name
                </td>
                <td>
                    The internal name on the experiment.
                </td>
            </tr>
            <tr>
                <td>
                    Design
                </td>
                <td>
                    A description of the expermiment.
                </td>
            </tr>
            <tr>
                <td>
                    Platform - name
                </td>
                <td>
                    The platform name for the experiment existing values are(2012-05-03):
                    <ul>
                        <li>454 Life Sciences</li>
                        <li>illumina HiSeq 2000</li>
                        <li>illumina MySeq</li>
                        <li>Ion Torrent</li>
                        <li>SOLiD</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    Platform - model
                </td>
                <td>
                    The platform model. Existing valuse are(2012-05-03):
                    <ul>
                        <li>HiSeq 2000</li>
                        <li>MySeq</li>
                        <li>SOLiD</li>
                        <li>454</li>
                        <li>Ion Torrent</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    Sample - name
                </td>
                <td>
                    The name of the sample.
                </td>
            </tr>
            <tr>
                <td>
                    Sample - internal name
                </td>
                <td>
                    The internal name of the sample.
                </td>
            </tr>
            <tr>
                <td>
                    <button>add new experiment</button>
                </td>
                <td>
                    When clicked will send you to the create new experiment page.
                </td>
            </tr>
        </table>
    </div>

    [% PROCESS navigation_bar %]
[% END %]

[% IF helpId == "study" %]
    <h3>Study</h3>
    <form><input type="submit" value="Edit" /> <label>Edit the metadata of the Study. Only appears if user has the privilege.</label></form>
    <div>
        <table class="fieldDescription">
            <tr>
                <td>
                    Accessioin
                </td>
                <td>
                    If the Study has been submitted to EBI, accession is listed.
                </td>
            </tr>
        </table>
    </div>
    <h3>Experiment fields</h3>
    <div>
        <table class="fieldDescription">
            <tr>
                <td>
                    <input type="submit" value="Open" />
                </td>
                <td>
                    Go to the Experiment page.
                </td>
            </tr>
            <tr>
                <td>
                    Accession
                </td>
                <td>
                    If the Experiment has been submitted to EBI, accession is listed.
                </td>
            </tr>
        </table>
        <form><input type="submit" value="Add" /> <label>Add an Experiment. Only appears if user has the privilege.</label></form>
    </div>
	
	[% PROCESS navigation_bar %]
[% END %]
