<h3>[% message %]</h3>
<form method="POST" action="[% action %]">
  <ul>
    <li>Username</li>
    <li><input type="text" name="username" size="15" autofocus="autofocus" /></li>
    <li>Password</li>
    <li><input type="password" name="password" size="15" /></li>
    <li><input type="submit" value="Login" /></li>
  </ul>
</form>
<ul>
  <li><a href="[% self_register_url %]">Register a new account</a></li>
  <li><a href="[% forgot_password_url %]">Forgot your password?</a></li>
</ul>
