<h3>Please fill in new password</h3>
<form method="POST" action="[% action %]">
	<input type="hidden" name="token" value="[% token %]">
	<label>New password
	<input type="password" name="new_password" required="required" /></label>
	<input type="submit" value="Save" />
</form>
