<h3>[% message %]</h3>
<table>
  <tr>
    <td><strong>Experiment Name</strong></td>
    <td>[% experiment.iname %]</td>
  </tr>
</table>

[% IF runs.size > 0 %]
[% BLOCK run_edit %]
<!-- Skip editing option which is referenced in run_fastq here-->
[% END %]

<h3>Runs</h3>
[% INCLUDE run_fastq.tt2 %]
[% END %]			  

[% IF files.size > 0 %]
	[% BLOCK file_select %] 
	  <select name="file_copy_id" required="required">
	  [% FOREACH f IN files %]        
			<option value="[% f.id %]" > [% f.original_name %]</option>
	  [% END %]
	  </select>
	[% END %] 

<form method="POST" action="[% action %]">
<input type="hidden" name="experiment_id" value="[% experiment.id %]" />
  <table>
    <thead>
        <tr>
          <th>Run date</th> <th>File name</th> [% IF experiment.nominal_size %] <th>File name</th> [% END %] <th>Score offset</th>
        </tr>
	</thead>
    <tbody>
		<tr>
		  <td><input type="date" name = "run_date" required/></td>
		  <td> [% PROCESS file_select %] </td>
		[% IF experiment.nominal_size %] <td> [% PROCESS file_select %] </td> [% END %]			  
		  <td> <select name="score_offset" required="required"><option value="@" selected>@</option><option value="!">!</option></select> </td>
		</tr>
      </tbody>   
  </table>
<input type="submit" value="Save" />
</form>
[% ELSE %]
<p>No candidate file is available right now.</p>
[% END %]
